@import url('https://fonts.googleapis.com/css?family=Inter:400,500,700&display=swap&subset=latin-ext');

body {
    font-family: 'Inter', sans-serif;
    background-color: #fffef2;
}

h1, h2, table {
    margin-left: 10px;
}

h1 {
    font-size: xx-large;
    font-weight: 900;
}

 ul#main {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: crimson;
    
    margin-bottom: 20px;
  }
  
  ul#main li {
    float: left;
    margin-left: auto;
    margin-right: auto;
  }
  
  ul#main li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  ul#main li a:hover {
    background-color: rgb(181,55,55);
  }

  input, select {
      margin: 7px;
  }

  table {
    border-collapse: separate;
    border-spacing: 40px 0px;
  }


  input[type="number"] {
      width: 50px;
  }

  input[type="text"] {
      width: 170px;
  }

  h2#quote {
      font-weight: 900;
      font-size: 800;
  }

  div {
      display: inline-block;
  }

  h1#main-header {
      display: inline;
  }
  p#quote {
      display: inline;
      font-weight: 500;
      font-size: medium;
  }

  input[type=button], input[type=submit], input[type=reset]  {
    background-color: rgb(181,55,55);
    border: none;
    color: white;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 20px 40px 20px;
    -webkit-transition: all 0.01s ease-in-out;
    -moz-transition: all 0.01s ease-in-out;
    -ms-transition: all 0.01s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
  }
  
  input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  {
    background-color: crimson;
  }
  