<!DOCTYPE html>
<html lang="cs">    
  <head>       
    <meta charset="utf-8">          
    <title>&#x1F4Da Kubooks</title> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

        <h1 id="main-header">Kubooks &#x1F4Da </h1><p id="quote"><i>&emsp;- "Books create windows through space and time, into the minds of people alive and long gone."</i></p>
      
  </head>

  <body> 
    <ul id="main">
      <li><a href = "/edit">List</a></li>
      <li><a href="/statistics">Statistics</a></li>
      <li><a href="/logout">Log out</a></li>
      <li><a href="" download="books.db">Download database</a></li>
    </ul>

    {% if to_edit == False %}
    <form action="/edit" method="POST">
      Name*:<input type="text" name="name" id="name" value="" required>
      Author*:<input type="text" name="author" value="" required> <br>
      Category: <select name="category_id" value=""> 
        {% for row in categories %}
          <option value="{{ row[0] }}">{{ row[1] }}</option>
        {% endfor %}
      </select>

      Language: <select name="language_id" value=""> 
        {% for row in languages %}
          <option value="{{ row[0] }}">{{ row[1] }}</option>
        {% endfor %}
      </select> <br>

      Page count: <input type="number" name="pages" value=""> <br>
      Added: <input type="date", name="added_date" value="">
      Started: <input type="date", name="start_date" value="">
      Finished: <input type="date", name="finish_date" value=""> <br>

      <br> Notes: <br> <textarea name="notes" rows="4" cols="40"></textarea> <br>
      
      <br>

      <input type="submit" value="Submit book">
      <input name="update" type="hidden", value="">
    </form>

    {% elif to_edit == True %}

    <p><strong><i>Editing mode</i></strong></p>
    {% for row in book_to_edit %}
    
    <form action="/edit" method="POST">
      Name:<input type="text" name="name" value="{{ row[1] }}" required>
      Author:<input type="text" name="author" value="{{ row[2] }}" required> <br>
      
      Category: <select name="category_id" value="{{ row[8] }}" required>
        {% for cat_row in categories %}
          {% if cat_row[0] == row[8] %}
            <option value="{{ cat_row[0] }}" selected>{{ cat_row[1] }}</option>
          {% else %}
            <option value="{{ cat_row[0] }}">{{ cat_row[1] }}</option>
          {% endif %}  
        {% endfor %}
      </select>

      Language: <select name="language_id" value="{{ row[9] }}" required>
        {% for l_row in languages %}
          {% if l_row[0] == row[8] %}
            <option value="{{ l_row[0] }}" selected>{{ l_row[1] }}</option>
          {% else %}
            <option value="{{ l_row[0] }}">{{ l_row[1] }}</option>
          {% endif %}  
        {% endfor %}
      </select>
      
      {% if row[6] is not none %}
        Page count: <input type="number" name="pages" value="{{ row[6] }}"> <br>
      {% else %}
        Page count: <input type="number" name="pages" value="" required> <br>
      {% endif %}

      {% if row[3] is not none %}
        Added: <input type="date", name="added_date" value="{{ row[3][:10] }}" required> 
      {% else %}
        Added: <input type="date", name="added_date" value="" required> 
      {% endif %}
      
      {% if row[4] is not none %}
        Started: <input type="date", name="start_date" value="{{ row[4][:10] }}">
      {% else %}
        Started: <input type="date", name="start_date" value="">
      {% endif %}

      {% if row[5] is not none %}
        Finished: <input type="date", name="finish_date" value="{{ row[5][:10] }}"> <br>
      {% else %}
      Finished: <input type="date", name="finish_date" value=""> <br>
      {% endif %}
      
      <br> Notes: <br> <textarea name="notes" rows="4" cols="40"></textarea> <br>
      
      <input name="book_id" type="hidden" value="{{ row[0] }}">
      
      <br>

      <input type="submit" value="Submit book">
      <input name="submit_edit" type="hidden", value="">
    </form>
    {% endfor %}

    {% endif %}

    
    <h2>To read list</h2>
    
    <table>
      <tr>
        <th>Book</th>
        <th>Author</th>
        <th>Added</th>
      </tr>
      {% for row in not_read_books %}
      <tr>

      {% for value in row[1:3] %}
        <td>{{ value }}</td>
      {% endfor %}
      <td>{{ row[3][8:10] }}.{{ row[3][5:7] }}.{{ row[3][0:4] }}</td> 


        <td id="edit-button">
          <form action="/edit" method="POST">
            <input name="book_id" type="hidden" value="{{ row[0] }}">
            <input name="edit" type="hidden", value="">
            <input type="submit" value="edit">
          </form>
        </td>

         <td id="delete-button">
          <form action="/edit" method="POST">
            <input name="book_id" type="hidden" value="{{ row[0] }}">
            <input name="delete" type="hidden", value="">
            <input type="submit" value="delete">
          </form>
        </td>
      </tr>
      {% endfor %}
      
    </table>
    
    <h2>Already read list</h2>
    
    <table>
      <tr>
        <th>Book</th>
        <th>Author</th>
        <th>Started</th>
        <th>Finished</th>
        <th>Pages</th>
        <th>Category</th>
        <th>Language</th>
      </tr>
      {% for row in read_books %}
      <tr>

      {% for value in row[1:3] %}
        <td>{{ value }}</td>
      {% endfor %} 
      
      {% for date in row[4:6] %}
        {% if date is not none %}
        <td>{{ date[8:10] }}.{{ date[5:7] }}.{{ date[0:4] }}   </td>
        {% else %}
        <td>/</td>
        {% endif %}
      {% endfor %}

      {% for value in row[6:] %}
        <td>{{ value }}</td>
      {% endfor %}
      
        <td>
          <form action="/edit" method="POST">
            <input name="book_id" type="hidden" value="{{ row[0] }}">
            <input name="edit" type="hidden", value="">
            <input type="submit" value="edit">
          </form>
        </td>

         <td>
          <form action="/edit" method="POST">
            <input name="book_id" type="hidden" value="{{ row[0] }}">
            <input name="delete" type="hidden", value="">
            <input type="submit" value="delete">
          </form>
        </td>
      </tr>
      {% endfor %}
      
    </table>
    

  </body>
</html>