<!DOCTYPE html>
<html lang="cs">    
  <head>       
    <meta charset="utf-8">          
    <title>&#x1F4Da Kubooks</title> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

        <h1 id="main-header">Kubooks &#x1F4Da </h1><p id="quote"><i>&emsp;- "Books create windows through space and time, into the minds of people alive and long gone."</i></p>
      
  </head>

  <body> 
    <ul id="main">
      <li><a href = "/edit">List</a></li>
      <li><a href="/statistics">Statistics</a></li>
      <li><a href="/logout">Log out</a></li>
    </ul>

    <h2>Total stats</h2>

    <ul>
    
      <li>Books read: {{ total_stats["cnt"] }}</li>
      <li>Annual average: {{ total_stats["year_avg"] }}</li>
      <br>
      <li>Czech books read: {{ total_stats["cz_cnt"] }}</li>
      <li>English books read: {{ total_stats["en_cnt"] }}</li>
      <br>
      <li>Total read pages: {{ total_stats["pages"] }}</li>
      <br>

      <center><img src="{{url_for('static', filename='images/annual_counts.png')}}", height="500">
      
      <img src="{{url_for('static', filename='images/annual_pages.png')}}", height="500"></center>
      
      {% for year in annual_stats["years"] %}

      <h2>{{ year }}</h2>
        <ul>
        <li>Books read: {{ annual_stats["total_cnt"][year] }}</li>
        <li>Czech books read: {{ annual_stats["total_cz"][year] }}</li>
        <li>English books read: {{ annual_stats["total_en"][year] }}</li>
        <li>Total read pages: {{ annual_stats["total_pages"][year] }}</li>

       </ul>
      {% endfor %}
      

    </ul>



   
  </body>
</html>